body { 
  background: url(../images/mountains-g2289e6fc6_1920.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing-header{
  font-weight: 800;
  font-size: 3em;
  text-align: center;
  margin-top: 1em;
}

.description{
  margin-top: 2em;
  text-align: center;
  font-weight: 600;
  font-size: 1.6em;
}

.start-button{
  border: 2px solid white;
  border-radius: 1.5em;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2em;
  margin-top: 2em;
  width: 5em;
  height: 2.5em;
  background-color: #fafafa;
  color: #1e4a71;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 2em;
  a:hover{
    color: white;
  }
}

.start-button:hover{
  cursor: pointer;
  background-color:#c3f5fe;
  text-decoration: underline;
}

.start{
  margin-top: 0.2em;
  color: white;
  display: block;
}

.route-search {
  margin-top: 2em;
  label{
    font-size: 2em;
    font-weight: bold;
  }
  .zip{
    margin: 0 auto;
    border-radius: 0.5em;
    width: 60%;
  }
}

.arrow{
  height: 150px;
  width: 150px;
  margin: 0 auto;
  display: block;

}