body { 
  background: url(../images/mountains-g2289e6fc6_1920.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing-header{
  font-weight: 800;
  font-size: 3em;
  text-align: center;
  margin-top: 3em;

}

.start-button{
  border: 2px solid white;
  border-radius: 1.5em;
  text-align: center;
  font-size: 1.2em;
  margin: 0 auto;
  margin-top: 2em;
  width: 10em;
  height: 2.5em;
  background-color: #1e4a71;
  color: white;
  margin-top: 2em;
  a:hover{
    color: white;
  }
}

.start-button:hover{
  cursor: pointer;
  background-color: #4981a9;
  text-decoration: underline;
}

.start{
  margin-top: 0.2em;
  color: white;
  display: block;
}

.tiles{
  margin-top: 5em;
  display: flex;
  justify-content: space-evenly;
}

.tile{
  background-color: white;
  text-align: center;
  border: 2px solid white;
  border-radius: 0.5em;
  height: 20em;
  width: 25%;
  box-shadow: white 0px 4px 10px;
}