@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@include foundation-dropdown-menu;
@import './landing-page.scss';
@import './route-index.scss';
@import './profile.scss';
@import './navbar.scss';
@import './partners.scss';
@import './forms.scss';
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}
